<div [ngStyle]="bodyStyle">
  <section [ngStyle]="myTopStyle">
    <form class="text-center p-3" [formGroup]="myTop" (ngSubmit)="searchTop()" >
      <div class="p-3">
        <p class="mb-1 fs-5">Artists or Tracks</p>
        <select class="px-3 fs-5" placeholder="item" formControlName="item" type="text" required>
          <option *ngFor="let search of searchMyTop" class="fs-5" [ngValue]="search">{{search}}</option>
        </select>
      </div>
      <div class="p-3">
        <p class="mb-1 fs-5">Show range</p>
        <input class="text-center fs-5" type="number" placeholder="volume" formControlName="volume" min="1" max="50" required>
      </div>
      <div class="p-3">
        <p class="mb-1 fs-5">Term range</p>
        <select class="px-3 fs-5" placeholder="term" formControlName="term" required>
          <option *ngFor="let term of termRange" class="fs-5" [ngValue]="term">{{term}}</option>
        </select>
      </div>
      <button class="btn btn-light" type="submit">Search</button>
    </form>
    <div class="p-3 d-flex flex-wrap justify-content-center" >
      <a class="text-decolation-none h-100" href="{{result.ex_url}}" *ngFor="let result of searchResult">
        <div class="position-relative text-center">
          <img width="250" sizes="250px" src="{{result.img}}">
          <div class="h-100 w-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center" 
          (mouseover)="getTopHoverOn(result)" (mouseleave)="getTopHoverOff(result)" [ngStyle]="result.style">
            <div class="fs-6">{{result.display_name}}</div>
          </div>
        </div>
      </a>
    </div>
  </section>
</div>
<div class="text-center p-5" [ngStyle]="errorStyle">
  {{error}}
</div>