<!-- <p>spotify-main works!</p> -->
<ul class="nav nav-tabs justify-content-center">
  <li *ngFor="let search of search_api" class="nav-item"><a class="nav-link {{search.active}}" (click)="navSwitch(search.val)" tabindex="{{search.index}}">{{search.name}}</a></li>
</ul>
<app-spotify-search></app-spotify-search>

<div class="p-3 text-center">
  <a class="btn btn-light p-3" (click)="getTopTracks()">Search Top Artists</a>
  <a class="btn btn-light p-3" (click)="getMe()">My Info</a>
</div>
<div class="p-3">
  <a *ngFor="let result of topSearch" name="{{result.name}}" href="{{result.ex_url}}"><img src="{{result.img}}"></a>
  <div>
    <p class="fs-2">{{myInfo.name}}</p>
    <img src="{{myInfo.img}}">
  </div>
</div>

<p>{{error}}</p>