/* You can add global styles to this file, and also import other style files */
/* import */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


body{
  font-family: monospace;
  color: #e5eef9;
  background-color: #f7f8f9;
  margin: 0%;
}